*{
    background-color: rgb(49, 49, 49);
    color: white;
}

.formulario{
    background-color: rgb(112, 112, 112);
    margin: 30px;
    padding: 30px;
}
input{background-color: rgb(80, 71, 104);}